    /*
    Icon classes can be used entirely standalone. They are named after their original file names.

    Example usage in HTML:
    // HTML
    <i class="icon-home"></i>
    */
.icon-help {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(26);
    height: px2rem(26);
    background-image: url(../../images/sprite.png?v=1563067404531);
    background-position: px2rem(0) px2rem(0);
    background-size: px2rem(57) px2rem(1085);
    /*background-position: 0px 0px;
    background-size: 57px 1085px; */
}

.icon-warning {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(26);
    height: px2rem(26);
    background-image: url(../../images/sprite.png?v=1563067404531);
    background-position: px2rem(0) px2rem(-26);
    background-size: px2rem(57) px2rem(1085);
    /*background-position: 0px -26px;
    background-size: 57px 1085px; */
}

.icon-search {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(28);
    height: px2rem(28);
    background-image: url(../../images/sprite.png?v=1563067404531);
    background-position: px2rem(0) px2rem(-52);
    background-size: px2rem(57) px2rem(1085);
    /*background-position: 0px -52px;
    background-size: 57px 1085px; */
}

.icon-location {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(29);
    height: px2rem(33);
    background-image: url(../../images/sprite.png?v=1563067404531);
    background-position: px2rem(0) px2rem(-80);
    background-size: px2rem(57) px2rem(1085);
    /*background-position: 0px -80px;
    background-size: 57px 1085px; */
}

.icon-glass {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(30);
    height: px2rem(39);
    background-image: url(../../images/sprite.png?v=1563067404531);
    background-position: px2rem(0) px2rem(-113);
    background-size: px2rem(57) px2rem(1085);
    /*background-position: 0px -113px;
    background-size: 57px 1085px; */
}

.icon-angry-on {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(40);
    height: px2rem(40);
    background-image: url(../../images/sprite.png?v=1563067404531);
    background-position: px2rem(0) px2rem(-152);
    background-size: px2rem(57) px2rem(1085);
    /*background-position: 0px -152px;
    background-size: 57px 1085px; */
}

.icon-peaceful {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(40);
    height: px2rem(40);
    background-image: url(../../images/sprite.png?v=1563067404531);
    background-position: px2rem(0) px2rem(-192);
    background-size: px2rem(57) px2rem(1085);
    /*background-position: 0px -192px;
    background-size: 57px 1085px; */
}

.icon-peaceful-on {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(40);
    height: px2rem(40);
    background-image: url(../../images/sprite.png?v=1563067404531);
    background-position: px2rem(0) px2rem(-232);
    background-size: px2rem(57) px2rem(1085);
    /*background-position: 0px -232px;
    background-size: 57px 1085px; */
}

.icon-low {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(40);
    height: px2rem(40);
    background-image: url(../../images/sprite.png?v=1563067404531);
    background-position: px2rem(0) px2rem(-272);
    background-size: px2rem(57) px2rem(1085);
    /*background-position: 0px -272px;
    background-size: 57px 1085px; */
}

.icon-low-on {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(40);
    height: px2rem(40);
    background-image: url(../../images/sprite.png?v=1563067404531);
    background-position: px2rem(0) px2rem(-312);
    background-size: px2rem(57) px2rem(1085);
    /*background-position: 0px -312px;
    background-size: 57px 1085px; */
}

.icon-cheerful-on {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(40);
    height: px2rem(40);
    background-image: url(../../images/sprite.png?v=1563067404531);
    background-position: px2rem(0) px2rem(-352);
    background-size: px2rem(57) px2rem(1085);
    /*background-position: 0px -352px;
    background-size: 57px 1085px; */
}

.icon-happy-on {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(40);
    height: px2rem(40);
    background-image: url(../../images/sprite.png?v=1563067404531);
    background-position: px2rem(0) px2rem(-392);
    background-size: px2rem(57) px2rem(1085);
    /*background-position: 0px -392px;
    background-size: 57px 1085px; */
}

.icon-happy {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(40);
    height: px2rem(40);
    background-image: url(../../images/sprite.png?v=1563067404531);
    background-position: px2rem(0) px2rem(-432);
    background-size: px2rem(57) px2rem(1085);
    /*background-position: 0px -432px;
    background-size: 57px 1085px; */
}

.icon-angry {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(40);
    height: px2rem(40);
    background-image: url(../../images/sprite.png?v=1563067404531);
    background-position: px2rem(0) px2rem(-472);
    background-size: px2rem(57) px2rem(1085);
    /*background-position: 0px -472px;
    background-size: 57px 1085px; */
}

.icon-cheerful {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(40);
    height: px2rem(40);
    background-image: url(../../images/sprite.png?v=1563067404531);
    background-position: px2rem(0) px2rem(-512);
    background-size: px2rem(57) px2rem(1085);
    /*background-position: 0px -512px;
    background-size: 57px 1085px; */
}

.icon-foot {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(44);
    height: px2rem(44);
    background-image: url(../../images/sprite.png?v=1563067404531);
    background-position: px2rem(0) px2rem(-552);
    background-size: px2rem(57) px2rem(1085);
    /*background-position: 0px -552px;
    background-size: 57px 1085px; */
}

.icon-water {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(44);
    height: px2rem(44);
    background-image: url(../../images/sprite.png?v=1563067404531);
    background-position: px2rem(0) px2rem(-596);
    background-size: px2rem(57) px2rem(1085);
    /*background-position: 0px -596px;
    background-size: 57px 1085px; */
}

.icon-sleep {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(44);
    height: px2rem(44);
    background-image: url(../../images/sprite.png?v=1563067404531);
    background-position: px2rem(0) px2rem(-640);
    background-size: px2rem(57) px2rem(1085);
    /*background-position: 0px -640px;
    background-size: 57px 1085px; */
}

.icon-diet {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(44);
    height: px2rem(44);
    background-image: url(../../images/sprite.png?v=1563067404531);
    background-position: px2rem(0) px2rem(-684);
    background-size: px2rem(57) px2rem(1085);
    /*background-position: 0px -684px;
    background-size: 57px 1085px; */
}

.icon-mood {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(44);
    height: px2rem(44);
    background-image: url(../../images/sprite.png?v=1563067404531);
    background-position: px2rem(0) px2rem(-728);
    background-size: px2rem(57) px2rem(1085);
    /*background-position: 0px -728px;
    background-size: 57px 1085px; */
}

.icon-foot-2 {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(44);
    height: px2rem(44);
    background-image: url(../../images/sprite.png?v=1563067404531);
    background-position: px2rem(0) px2rem(-772);
    background-size: px2rem(57) px2rem(1085);
    /*background-position: 0px -772px;
    background-size: 57px 1085px; */
}

.icon-camera {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(57);
    height: px2rem(49);
    background-image: url(../../images/sprite.png?v=1563067404531);
    background-position: px2rem(0) px2rem(-816);
    background-size: px2rem(57) px2rem(1085);
    /*background-position: 0px -816px;
    background-size: 57px 1085px; */
}

.icon-female-off {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(44);
    height: px2rem(55);
    background-image: url(../../images/sprite.png?v=1563067404531);
    background-position: px2rem(0) px2rem(-865);
    background-size: px2rem(57) px2rem(1085);
    /*background-position: 0px -865px;
    background-size: 57px 1085px; */
}

.icon-male-on {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(52);
    height: px2rem(55);
    background-image: url(../../images/sprite.png?v=1563067404531);
    background-position: px2rem(0) px2rem(-920);
    background-size: px2rem(57) px2rem(1085);
    /*background-position: 0px -920px;
    background-size: 57px 1085px; */
}

.icon-male-off {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(52);
    height: px2rem(55);
    background-image: url(../../images/sprite.png?v=1563067404531);
    background-position: px2rem(0) px2rem(-975);
    background-size: px2rem(57) px2rem(1085);
    /*background-position: 0px -975px;
    background-size: 57px 1085px; */
}

.icon-female-on {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(44);
    height: px2rem(55);
    background-image: url(../../images/sprite.png?v=1563067404531);
    background-position: px2rem(0) px2rem(-1030);
    background-size: px2rem(57) px2rem(1085);
    /*background-position: 0px -1030px;
    background-size: 57px 1085px; */
}

